<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h2>
    {{ name }}!
  </h2>
  <p>{{randomVariable}}</p>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Custom Example of coding:</h2>


<h3>Lesson 06 -> Change a TEXT dinamically using an input and the DIRECTIVE [(ngModel)]="var":</h3>
<ul>
  <li>You have to import into the app.module.ts the class:</li>
  <li><code>import &#123; FormsModule } from '@angular/forms';</code></li>
  <li>And add into the "imports" Array the "FormsModule"</li>
  <li>"FormsModule" it is a TypeScript object</li>
</ul>
<input type="text" [(ngModel)]="randomVariable">
<p>{{randomVariable}}</p>
<hr>
<h3>Lesson 10 -> A Basic Project Setup using Bootstrap for Styling</h3>
<ul>
  <li>Install/import bootstrap</li>
  <li>Type ->  npm install --save bootstrap@4</li>
  <li>Add into -> Config File -> angular.json -></li>
  <li><code>"build": &#123;<br>
  "styles": [<br>
"node_modules/bootstrap/dist/css/bootstrap.min.css",<br>
"src/styles.css",<br>
    ],&#125;</code></li>
<li><div class="alert alert-primary" role="alert">
 Bootstrap Style works!
</div></li>
</ul>
<hr>
<h3>Lesson 13 -> How an Angular App gets Loaded and Started</h3>
<ul>
  <li>I'm in the AppComponent HTML!</li>
  <li>The index.html file is the single html file called by Angular. That's why Angular is an a "Single Page Application"</li>
  <li>The index.html integrate the app.component.html by the <code>&#60;app-root>&#60;/app-root></code></li>
  <li>The Name "app-root" is declared into the app.component.ts file at the Selector parameter:<br> <code>@Component(&#123;<br>
    selector: 'app-root',&#125;</code></li>

<li>The first code executed by Angular is the code conteined by the "main.ts" file, where in fact is present the <code>platformBrowserDynamic().bootstrapModule(AppModule)
  .catch(err => console.error(err));</code> declaration that called the AppModule Class into the bootstrapModule.</li>
<li>Into the AppModule class it is declared and imported the AppComponent Class passing it into the Decorator @NgModule() into the JS object "bootstrap" parameter: <br> <code>@NgModule(&#123;<br>bootstrap: [AppComponent]&#125;)</code></li>
</ul>
<li> Now Angular is able to build the structure described between main.ts and app.component.ts</li>
<h3>Lesson 15 -> Creating a New Component</h3>
<h4>Manually Creation:</h4>
<ul>
  <li>Creation a new directory with the same name of the component, like "app/server" folder</li>
  <li>into the "app/server" folder, create the Typescript server.component.ts file</li>
  <li>In order to use outside the Class "ServerComponent", add the code <code>export class ServerComponent &#123; &#125;</code></li>
  <li>To define the Class "ServerComponent" it is not just a normal Typescript class but a Component, we have to add the Decorator <b>@Component()</b></li>
  <li>The Decorator @Component has to be imported <code>import &#123;Component} from '@angular/core'; </code></li>
  <li>Next step is pass the JavaScript object to the @Component Decorator:<br><code>
    @Component(&#123; <br>
    selector: 'app-server',<br>
    templateUrl: './server.component.html'
    &#125;)
  </code>
  </li>
  <li>The <b>selector</b> JS object is the name used to called the Class.component.html file content, into another Class.component.html file using the tags <code>&#60;app-server>&#60;/app-server></code> </li>
  <li>The <b>templateUrl</b> JS object point to the path where is located the HTML compenent that angular will used to render the sub page content into the e.g. <code>&#60;app-server>&#60;/app-server></code> </li>
</ul>
<hr>
<h3>Lesson 16 -> Understanding the Role of AppModule and Component Declaration</h3>
<ul>
  <li>To use the new Component, we have to import into the Decorator @NgModule() contained into the app.module.ts into the "declarations:" properties.</li>
  <li><code>NgModule(&#123;<br>
    declarations: [<br>
      AppComponent,<br>
    <b>ServerComponent</b>
    ]&#125;</code></li>
  <li> Angular don't know if a new component exist or not, we have to add it by default into the @NgModule() decorator, and import the class<br>
    <code>import &#123; <b>ServerComponent</b> &#125; from './server/server.component';</code></li>
  </ul>
<hr>
<h3>Lesson 17 -> Using Custom Components</h3>
<ul>
  <li>To include the new component into another component, after to import the new component into the app.module.ts, we have to user the <code>&#60;app-server>&#60;/app-server></code> like this:</li>
  <app-server></app-server>
</ul>
<hr>
  <h3>Lesson 18 -> Creating Components with the CLI & Nesting Components</h3>
<ul>
  <li>To create a component using the terminal:  </li>
  <li>ng generate componet NAME</li>
  <li>ng g c NAME</li>
  <li>this command will create 4 files and a folder<br>
    name.component.css -> for style<br>
    name.component.html<br>
    name.component.spec.ts -> for test<br>
    name.component.ts<br>
  </li>
  <li><app-servers></app-servers></li>
  <hr>
  <h3>Lesson 19 -> Working with Component Templates</h3>
  <li>Instead of declare and pass a templateUrl as a file, it is possible also to pass other template or add some HTML code into the @Component() decorator, passing the <b>template</b> object instead of the templateUrl, e.g.:</li>
  <li><code>@Component(&#123;<br>
    selector: 'app-servers-l19',<br>
    <b>template</b>: '&#60;app-server>&#60;/app-server>',<br>
    styleUrls: ['./servers-l19.component.css']<br>
    &#125;)</code></li>
  <li>If we call the &#60;app-server-l19>&#60;/app-server-l19> into the app.component.html, they code will call the &#60;app-server>&#60;/app-server> passing through the template </li>
  <li><app-servers-l19></app-servers-l19></li>
</ul>
<hr>
<h3>Lesson 20 -> Working with Component Styles</h3>
<ul><li>The decorator @Component() between its object define the style</li>
<li>If you want to define a style content in a external file e.g.:<br>
  <code><b>styleUrls:</b> ['./servers-l19.component.css']</code></li>
  <li>If you want to add the style in line e.g.:<br>
    <code>styles: [`h3 &#123;<br>
      color: blue;<br>
      `&#125;]</code></li>
</ul>


    <router-outlet></router-outlet>
