<div id="gist97828636" class="gist">
  <div class="gist-file">
    <div class="gist-data">
      <div class="js-gist-file-update-container js-task-list-container file-box">
        <div id="file-l90-ng-for-and-ng-if-component-html" class="file">


          <div itemprop="text" class="Box-body p-0 blob-wrapper data type-html ">

            <table class="highlight tab-size js-file-line-container" data-tab-size="8">
              <tbody><tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L1" class="blob-num js-line-number" data-line-number="1"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC1" class="blob-code blob-code-inner js-file-line">&lt;<span class="pl-ent">ul</span> <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>list-group<span class="pl-pds">"</span></span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L2" class="blob-num js-line-number" data-line-number="2"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC2" class="blob-code blob-code-inner js-file-line">        &lt;<span class="pl-ent">div</span> <span class="pl-e">*ngIf</span>=<span class="pl-s"><span class="pl-pds">"</span>onlyOdd<span class="pl-pds">"</span></span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L3" class="blob-num js-line-number" data-line-number="3"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC3" class="blob-code blob-code-inner js-file-line">          &lt;<span class="pl-ent">li</span></td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L4" class="blob-num js-line-number" data-line-number="4"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC4" class="blob-code blob-code-inner js-file-line">            <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>list-group-item<span class="pl-pds">"</span></span></td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L5" class="blob-num js-line-number" data-line-number="5"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC5" class="blob-code blob-code-inner js-file-line">            <span class="pl-e">*ngFor</span>=<span class="pl-s"><span class="pl-pds">"</span>let odd of oddNumbers<span class="pl-pds">"</span></span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L6" class="blob-num js-line-number" data-line-number="6"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC6" class="blob-code blob-code-inner js-file-line">            &#123; &#123;odd}}</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L7" class="blob-num js-line-number" data-line-number="7"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC7" class="blob-code blob-code-inner js-file-line">          &lt;/<span class="pl-ent">li</span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L8" class="blob-num js-line-number" data-line-number="8"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC8" class="blob-code blob-code-inner js-file-line">        &lt;/<span class="pl-ent">div</span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L9" class="blob-num js-line-number" data-line-number="9"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC9" class="blob-code blob-code-inner js-file-line">        &lt;<span class="pl-ent">div</span> <span class="pl-e">*ngIf</span>=<span class="pl-s"><span class="pl-pds">"</span>!onlyOdd<span class="pl-pds">"</span></span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L10" class="blob-num js-line-number" data-line-number="10"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC10" class="blob-code blob-code-inner js-file-line">          &lt;<span class="pl-ent">li</span></td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L11" class="blob-num js-line-number" data-line-number="11"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC11" class="blob-code blob-code-inner js-file-line">            <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>list-group-item<span class="pl-pds">"</span></span></td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L12" class="blob-num js-line-number" data-line-number="12"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC12" class="blob-code blob-code-inner js-file-line">            <span class="pl-e">*ngFor</span>=<span class="pl-s"><span class="pl-pds">"</span>let even of evenNumbers<span class="pl-pds">"</span></span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L13" class="blob-num js-line-number" data-line-number="13"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC13" class="blob-code blob-code-inner js-file-line">            &#123; &#123;even}}</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L14" class="blob-num js-line-number" data-line-number="14"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC14" class="blob-code blob-code-inner js-file-line">          &lt;/<span class="pl-ent">li</span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L15" class="blob-num js-line-number" data-line-number="15"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC15" class="blob-code blob-code-inner js-file-line">        &lt;/<span class="pl-ent">div</span>&gt;</td>
              </tr>
              <tr>
                <td id="file-l90-ng-for-and-ng-if-component-html-L16" class="blob-num js-line-number" data-line-number="16"></td>
                <td id="file-l90-ng-for-and-ng-if-component-html-LC16" class="blob-code blob-code-inner js-file-line">      &lt;/<span class="pl-ent">ul</span>&gt;</td>
              </tr>
              </tbody></table>


          </div>

        </div>
      </div>

    </div>
    <div class="gist-meta">
      <a href="https://gist.github.com/Sandro81/6b0253eefa33381181096b131a080c9e/raw/bcd86edf9aad6dd22ffcc9dee71409e0fcdf3aae/l90-ng-for-and-ng-if.component.html" style="float:right">view raw</a>
      <a href="https://gist.github.com/Sandro81/6b0253eefa33381181096b131a080c9e#file-l90-ng-for-and-ng-if-component-html">l90-ng-for-and-ng-if.component.html</a>
      hosted with ❤ by <a href="https://github.com">GitHub</a>
    </div>
  </div>
</div>
